$xs: 600px;
$sm: 960px;
$md: 1280px;
$md-lg: 1400px;
$lg: 1920px;
$xl: 2560px;
$xxl: 9999px;
$primary-: #0E0F3D;
$primary: #2B3674;
$primary-2: #4318ff;
$gray-: #6595ca;
$gray: #656565;
$secondary: #A3AED0;

.analytic-card {
    display: flex;
    padding: 20px 12.789px 21px 17px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 18.211px;
    border-radius: 20px;
    background: #FFF;
    max-width: 300px;
    width: 100%;
    @media (max-width: 1276px) {
        max-width: unset;
    }
}

.time-icon {
    width: 100%;
    height: 100%;
    margin: 14px;
    position: absolute;
    right: 0;
    color: #fff;
    max-width: 161px;
    max-height: 43px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(113deg, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0.00) 110.84%);
    backdrop-filter: blur(25px);

    svg {
        left: 50%;
    }
}
.border-r{
    border-radius: 12px !important;
}
.round-spot{
    background: #F4F7FE;
    padding: 15px;
    border-radius: 49px;
}
.img-drop {
    border-radius: 12px;
    border: 1px solid $secondary;
    background: #868CFF;
}

.z-index-1 {
    z-index: 1;
}

.right-unset {
    right: unset !important;
}

.font-reg {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
}

.bg-gray-secondary {
    background: $gray !important;
}

.bg-white {
    background: #fff !important;
}

.gap-12 {
    gap: 12px !important;
}

.fc-primary {
    color: $primary !important;
}

.fc-gray {
    color: $gray !important;
}

.fc-secondary {
    color: $secondary !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

main {
    background: var(--Secondary-Grey-300, #F4F7FE) !important;
}
.remove {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 101.333px;
    background: rgba(64, 62, 72, 0.80);
    position: absolute;
    right: 0;
    margin: 16px;
    // top: 248px;
    // left: 553px;
}
.login-wrapper {
    .login-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px 250px;
    }

    .v-text-field {
        height: 50px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid var(--Secondary-Grey-500, #E0E5F2);
    }

    .v-btn {
        display: flex;
        width: 100%;
        height: 54px;
        color: #fff;
        padding: 10px 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 16px;
        background: $primary;
    }

}

.bg-login {
    border-radius: 0px 0px 0px 200px;
    background: var(--Gradients-Gradient-Style-1, linear-gradient(135deg, #868CFF 0%, $primary 100%));
    background: url("https://i.postimg.cc/BZ2hJ5zf/ap-house.jpg"), lightgray 50% / cover no-repeat;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;

}

@media (max-width: 1400px) {
    .login-form {
        margin-top: 100px;
        padding: 0px 50px !important;
    }
    .bg-login {
        display: none !important;
    }
}

@media (max-width: $md-lg) {
    .login-form {
        padding: 0px 120px !important;
    }
}

@media (max-width: $lg) {
    .login-form {
        padding: 0px 220px !important;
    }
}

@media (max-width: $sm) {
    .login-wrapper {
        .login-form {
            padding: 0px 50px !important;
        }
    }
}

//table
.v-table {
    border-radius: 20px !important;
    background: #FFF;
}

//dashboard
.side-active {
    width: 4px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 25px;
    background: var(--Primary-Purple-Blue-500---Primary, #4318FF);

    svg {
        fill: $primary;
    }
}

.side-items {
    margin-top: 25px;
    padding: 0px 0px 0px 20px
}

//.side-items-active::after {
//    content: "";
//    //display: block;
//    position: relative;
//    //top: 38px;
//    float: right;
//    //right: 0;
//    width: 4px;
//    height: 32px;
//    background: #4318FF;
//    border-radius: 25px;
//
//}

.side-items-active {
    svg {
        path {
            fill: $primary-2 !important;
        }
    }
}

.task-table {
    border-radius: 20px;
    background: #FFF;
}

.app-table {
    border-radius: 20px !important;
    padding: 20px 30px;
    background: #FFF;

    .heading-5 {
        padding: 0 15px;
    }

    td {
        border-bottom: unset !important;
    }

    th {
        color: $secondary;
        border-bottom: unset !important;
    }
}

//Menu
.menu-card {
    border-radius: 20px;
    background: var(--Secondary-Primary-White, #FFF);
    max-width: 366px;

    .v-img {
        width: 100%;
        height: 100%;
        border-radius: 20px;

        h5 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    }
}
.gallery-dialog{
    height: 100%;
    .v-card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }
.v-overlay__scrim{
    opacity: unset !important;
    background:#fff !important;

}
}
.gallery-card {
    border-radius: 20px;
    background: var(--Secondary-Primary-White, #FFF);
    //max-width: 566px;
    width: 800px;
    display: flex;
    justify-content: center;
    //overflow-y: hidden !important;
    @media (max-width: 860px) {
        width: 440px;
    }
    @media (max-width: 500px) {
        width: 340px;
    }
    .v-img {
        width: 100%;
        height: 100%;
        max-width: 400px;


        max-height: 400px;
        border-radius: 20px;

        h5 {
            background: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    }
}

//Menu drawer
.v-navigation-drawer.add-menu-drawer {
    width: calc(100vw - 275px) !important;

    .v-stepper-header {
        box-shadow: unset !important;
    }

    .v-stepper.v-sheet {
        box-shadow: unset !important;
    }
}

//Track card
.track-card {
    max-width: 228px;
    max-height: 190px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    color: #fff;
    border-radius: 24px;
    background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
}

.input.v-text-field {
    .v-input__control {
        border-radius: 16px;
        border: 1px solid var(--Secondary-Grey-500, #E0E5F2);
    }

}

.input-login.v-text-field {
    border-radius: 16px;
    border: 1px solid var(--Secondary-Grey-500, #E0E5F2);
}

.input-textarea.v-textarea {
    border-radius: 16px;
    border: 1px solid var(--Secondary-Grey-500, #E0E5F2);
    padding: 0px 20px;

    textarea {
        resize: none !important;
    }
}
    @media (max-width: 500px) {
        .v-navigation-drawer.add-menu-drawer{
        width: 100vw !important;
    }
}
